.app {
    height: 100vh;
    width: 100vw;
    background-color: #140949;
    display: grid;
    grid-template-columns: 1fr 550px 1fr;
    h3 {
        color: #EBAE02;
        text-align: center;
        margin-top: 110px;
        font-family: 'Srisakdi', cursive;
        font-size: 3em;
        font-weight: 600;
        transform: skewY(-8deg);
        span {
            font-family: 'Roboto Slab', serif;
            font-size: .9em;
            text-transform: uppercase;
        }
    }
    .output {
        color: #EBAE02;
        font-weight: 700;
        background-color: #113B9D;
        width: 550px;
        height: 300px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 50px 0px;
        padding: 25px;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .buttons {
        display: flex;
        justify-content: space-around;
        .button {
            height: 60px;
            width: 160px;
            background-color: #113B9D;
            border-radius: 10px;
            text-align: center;
            color: #EBAE02;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            margin: 0px 3px;
            &:active {
                transform: translateY(5px);
                box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
            }
        }
        .secret-button {
            height: 60px;
            width: 160px;
            background-color: #140949;
            border-radius: 10px;
        }
    }
}