.app {
    height: 100vh;
    width: 100vw;
    background-color: #140949;
    display: flex;
    justify-content: center;
    .output {
        color: #EBAE02;
        font-weight: 700;
        background-color: #113B9D;
        width: 500px;
        height: 300px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 50px 0px;
    }
    .buttons {
        display: flex;
        justify-content: space-around;
        .button {
            height: 60px;
            width: 160px;
            background-color: #113B9D;
            border-radius: 10px;
            text-align: center;
            color: #EBAE02;
            font-weight: 400;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .secret-button {
            height: 60px;
            width: 160px;
            background-color: #113B9D;
            border-radius: 10px;
        }
    }
}